<div class="topbar">
    <div class="topbar-left">
        <button class="topbar-btn active" data-view="dashboard">
            Pulpit
        </button>

        <div id="userInfo" class="user-info"></div>
    </div>

    <div class="topbar-right">
        <button id="logoutBtn" class="logout-btn">
            Wyloguj
        </button>
    </div>
</div>

<div class="layout">
    <aside class="sidebar">
        <div class="menu-item" data-view="requests">Wnioski urlopowe</div>
        <div class="menu-item" data-view="users">Użytkownicy</div>
        <div class="menu-item" data-view="settings">Ustawienia</div>
    </aside>

    <main id="view" class="app-container">
        <!-- tu lądują widoki -->
    </main>
</div>
