<div class="login-container">
  <div class="login-box">

    <div class="login-title">AKUŚ</div>
    <div class="login-subtitle">Algorytm Koordynujący Unifikację Środowisk</div>

    <div class="login-logo">
      <img src="logo.png" alt="">
    </div>

    <form id="loginForm" class="login-form">
      <input
              type="text"
              placeholder="Login"
              required
      />

      <input
              type="password"
              placeholder="Hasło"
              required
      />

      <button type="submit" class="btn">
        Zaloguj
      </button>

      <div class="login-register">
        <a href="#" id="registerLink">Zarejestruj się</a>
      </div>
    </form>

  </div>
</div>