<div class="login-container">
    <div class="login-box">

        <div class="login-title">AKUŚ</div>
        <div class="login-subtitle">Rejestracja użytkownika</div>

        <div class="login-logo">
            <img src="logo.png" alt="">
        </div>

        <form id="registerForm" class="login-form">

            <div class="form-info">Wszystkie pola są obowiązkowe</div>

            <input
                    type="text"
                    placeholder="Login"
                    required
            />

            <input
                    type="password"
                    placeholder="Hasło"
                    required
            />

            <input
                    type="password"
                    placeholder="Powtórz hasło"
                    required
            />

            <input
                    type="text"
                    placeholder="Imię"
                    required
            />

            <input
                    type="text"
                    placeholder="Nazwisko"
                    required
            />

            <input
                    type="email"
                    placeholder="Email"
                    required
            />

            <button type="submit" class="btn">
                Zarejestruj
            </button>

            <div class="login-register">
                <a href="#" id="backToLogin">Wróć do logowania</a>
            </div>

        </form>

    </div>
</div>